* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 2%;
}
.container h1 {
  color: #666b6a;
  text-shadow: 1px 1px 3px #666b6a;
}
.container span {
  color: #72a276;
  text-shadow: 1px 1px 3px #72a276;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  list-style: none;
  margin-left: 10%;
  padding: 2%;
}

.navbar li a {
  text-decoration: none;
  color: #666b6a;
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s;
}

.navbar li a:hover {
  color: #000;
  transition: 0.2s;
}

.social img {
  cursor: pointer;
  transition: 0.2s;
}

.social img:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.mobile-nav {
  display: none;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .container .mobile-nav {
    float: right;
    width: 50%;
    text-align: right;
  }
  .navbar {
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0vh;
    width: 100vw;
    height: 40vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: all 0.3s ease-in;
  }
  .navbar li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-nav {
    display: block;
    cursor: pointer;
  }
  .social {
    display: none;
  }
}
.navbar.active {
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
